/**
 * Variables
 */

// Colors
$color-base: #f0ece2;
$color-primary: #eb4559;
$color-secondary: #b9ebcc;
$color-cadet-blue: cadetblue;

$color-dark: #010101;

$color-primary-light: lighten($color-primary, 80%);

$color-white: #FFF;
$color-gray: $color-base;
$color-gray-shadow: lighten($color-dark, 60%);
$color-gray-light-shadow: $color-primary-light;
$color-gray-border: lighten($color-base, 77%);
$color-gray-bg: lighten($color-dark, 10%);


$color-hn: #ff6600;
$color-facebook: #3b5998;
$color-twitter: #1da1f2;
$color-linkedin: #0077b5;
$color-reddit: #ff4500;

// Typographic
$typographic-font-family:  'Open Sans', sans-serif;

$typographic-root-font-size: 100;
$typographic-base-font-size: 16px;
$typographic-small-font-size: 14px;

$typographic-base-line-height: 1.625;

$typographic-base-font-color: $color-base;
$typographic-light-font-color: cadetblue;
$typographic-link-p-font-color: $color-primary;
$typographic-link-s-font-color: $color-secondary;

$typographic-leading: round(16 * ($typographic-root-font-size / 100) * $typographic-base-line-height);

// Buttons
$button-height: 35px;

// Layout
$layout-post-single-width: 945px;
$layout-post-width: $layout-post-single-width - 245px;

$layout-width: 1070px;
// Should match MOBILE_WIDTH_THRESHOLD in PlatformContext
$layout-breakpoint-sm: 685px;
$layout-breakpoint-md: 960px;
$layout-breakpoint-lg: 1100px;

$layout-mobile-padding: 15px;
